<table id="table-pagination" data-url="data2.json" data-height="400" data-pagination="true" data-search="true" class="table table-bordered table-hover table-striped">
    <thead>
        <tr>
            <th>Unit Number</th>
            <th>Last Updated</th>
            <th>User</th>
            <th>Address</th>
            <th> Flagged?</th>
        </tr>
    </thead>
    <% @units.each do |unit| %>
    <% time = Time.parse(unit.updated_at.to_s).in_time_zone("Central Time (US & Canada)") %>
      <tr>
        <td><strong> <%= link_to unit.unit_number, unit %></strong></td>
        <td><%= link_to time.strftime("%m/%d/%Y at %I:%M%p CT"), unit%></td>
        <td> <%= link_to unit.username, unit %></td>
         <td> <%= link_to self.parse_address(unit.address), unit %></td>
        <td><% if self.is_flagged(unit) %>
            <i class="fa fa-flag" style="color:red"> Yes</i>
            <% else %>
            <i class="fa fa-circle" style="color:green"> No</i>
            <% end %>
        </td>

      </tr>
    <% end %>
    <tbody>

    </tbody>
</table>