  <% if current_user == nil %>
  <li><a href="/login"><i class="fa fa-sign-in"></i> Login</a>
  <% else %>
  <!-- <li><%= link_to 'Profile', user_path(current_user) %></li> -->
  <li><a href="/logout"><i class="fa fa-sign-out"></i> Logout
  </a></li>
  <% end %>